body {
    background-image: url("https://cdn.hipwallpaper.com/i/45/98/pBwD9m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ji {
    font-family: rye;
    font-size: 100px;
    background-image: url("https://i.pinimg.com/originals/d4/43/33/d443331f98d9d762469790e530a70567.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    text-transform: uppercase;
}

.ji a {
    text-decoration: none;
}

.text {
    text-transform: uppercase;
}

.navbar {
    overflow: hidden;
    background-image: url("https://i.pinimg.com/originals/c8/6a/07/c86a076b2d79cdd05f87c5044dfbc51d.jpg");
    justify-content: flex-end;
    display: flex;
}

.navbar a {
    float: left;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-transform: uppercase;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
    align-items: flex-end;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: gray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #97bc62ff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    float: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #339e66ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-twitter {
    color: white;
    background-color: #00acee;
}

.fa-google {
    color: white;
    background-color: #00acee;
}

.fa-facebook {
    color: white;
    background-color: #00acee;
}

.fa-instagram {
    color: white;
    background-color: #00acee;
}

.fa:hover {
    opacity: 0.7;
}

footer {
    display: flex;
    justify-content: space-between;
    background-image: url("https://i.pinimg.com/originals/c8/6a/07/c86a076b2d79cdd05f87c5044dfbc51d.jpg")
}

footer h1 {
    font-size: 14px;
}
.onlinepfa{
    text-align: justify;
    font-style: italic;
    font-size: 20px;
    margin-left: 10px;

}
.selfcaretraining{
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
    text-align: justify;
    float: right;

}
.referral
{
  text-align: center;
  margin-top: 600px;
  font-size: 20px;
  font-style: italic;

}
.firstaid{
    float: right;
    margin-right: 20px;
    height: 375px;
    width: 600px;
}
.self_care{
  float: left;
  margin-top: 9.5px;
  height: 375px;
  width: 600px;
}
.titles{
  font-size: 24px;
}/*
.text1{
  float:left;
  font-size: 20px;
  font-style: italic;
}*/