body{
    font-family: sans-serif;
    text-align: justify;
}
.onlinepfa{
    text-align: justify;
  
}
.selfcaretraining{
    text-align: justify;

}
.referral{
    text-align: justify;

}
img{
    width:50%
}